---
title: Health & Safety
page: health-safety
permalink: "/health-safety/"
position: 1
layout: fulfilment-page
show: true
---

{% capture current_page %}{{ page.title }}{% endcapture %}

{% for item in site.data.fulfilment %}
  {% capture item_title %}{{ item.title }}{% endcapture %}
  {% if item_title == current_page %}
    {% capture page_content %}{{ item.content | markdownify }}{% endcapture %}
  {% endif %}
{% endfor %}

<h1 class="h4 text-primary">{{ current_page }}</h1>
{{ page_content }}
