<div class="container-fluid pb-5 bg-white">
  <div class="row bg-dark text-light mb-md-3">
    {% include full-width-title.html title="On Board Brands" %}
  </div>

  <div class="row">
    <div class="container">
      <div class="row align-items-center justify-content-between pt-md-3 pb-md-3">
        {% assign delay = 0 %}
        {% for brand in site.data.brands %}
          {% unless forloop.first %}
            {% assign delay = delay | plus: 1 %}
          {% endunless %}

          {% capture brand_logo %}{{ brand.logo }}{% endcapture %}
          {% capture brand_title %}{{ brand.title }}{% endcapture %}
          <div 
          class="brand-grid__item col-lg-2 col-6 d-flex flex-wrap justify-content-center align-items-center py-md-0 py-4 come-in-view come-in-up {% unless forloop.first %}delay-{{ delay }}{% endunless %} js">
            {% include image.html name=brand_logo alt=brand_title class="img-fluid w-100" %}
          </div>
        {% endfor %}

        <noscript class="row">
          {% for brand in site.data.brands %}
            {% capture brand_logo %}{{ brand.logo }}{% endcapture %}
            {% capture brand_title %}{{ brand.title }}{% endcapture %}
            <div 
            class="brand-grid__item col-lg-2 col-6 d-flex flex-wrap justify-content-center align-items-center py-md-0 py-4">
              {% include noscript-image.html name=brand_logo alt=brand_title class="img-fluid" %}
            </div>
          {% endfor %}
        </noscript>
      </div>
    </div>
  </div>
</div>
