<div class="container-fluid py-lg-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 pt-3">
      <h1 class="h4 text-primary">Contact Us</h1>
      {% include address-schema.html %}
      <form action="https://formspree.io/{{ site.email }}" method="POST">
        <div class="form-row">
          <div class="col pb-3 py-lg-3">
            <label class="form-group text-white mb-2" for="name">Name</label>
            <input
            type="text"
            name="name"
            id="name"
            class="form-control form-control-lg rounded-0"
            autocomplete="name"
            >
          </div>
          <div class="col-lg py-3">
            <label class="form-group text-white mb-2" for="company">Company</label>
            <input type="text"
            name="company"
            id="company"
            class="form-control form-control-lg rounded-0"
            >
          </div>
        </div>

        <div class="form-row">
          <div class="col-lg py-3">
            <label class="form-group text-white mb-2" for="email">Email address</label>
            <input type="email"
            name="email"
            id="email"
            class="form-control form-control-lg rounded-0"
            autocomplete="email"
            >
          </div>
        </div>

        <div class="form-row">
          <div class="col pt-3">
            <label class="form-group text-white mb-2" for="message">Message</label>
            <textarea class="form-control form-control-lg rounded-0" placeholder="Your message" name="message" id="message" rows="3"></textarea>      
          </div>
        </div>

        <button type="submit" class="btn btn-lg btn-block btn-primary rounded-0" value="Send">Submit</button>
        <span class="mt-3 d-block">Please be aware that your details will be sent through Formspree, which
        is a service used by us to send enquiries through to the correct people.
        <a href="http://docs.formspree.io/files/privacy.pdf" target="_blank">Please view their privacy policy by clicking here for more information.</a></span>
      </form>
    </div>
  </div>
</div>
