<div
  class="jumbotron jumbotron-fluid jumbotron-home container-fluid d-flex flex-column justify-content-end rounded-0 m-0 text-light pt-5
  {% if include.class %} {{ include.class }}{% endif %}
  lazyload js"
  style="background: {% if include.bg_image %}url('{{ site.img_dir | absolute_url }}{{ include.bg_image }}') no-repeat {{ include.bg_position }} / {{ include.bg_size }}{% endif %};">
  <div class="row d-flex flex-column jumbotron--content-box pt-5 pb-0 py-md-5
    {% if include.text_position %}
      {% if include.text_position == 'center' %} mx-auto
      {% elsif include.text_position == 'left' %} mr-auto ml-0 col-sm-12 col-md-6 col-lg-5 col-xl-4
      {% endif %}
    {% endif %}
    {% unless include.type == 'full' %} px-4{% endunless %}
    text-md-left text-center">
    {% include image.html name="adept-icon.svg" class="img-fluid w-10 mx-auto mr-md-0 ml-md-auto" alt="Adept Arrow" %}
    <h1 class="font-weight-normal pb-4 pb-md-0 m-0">{{ include.heading }}<br>
      <span class="text-primary font-weight-normal">{{ include.lead }}</span>
    </h1>

  </div>
  {% if include.link %}
    <div class="col-sm-12 col-md-6 col-lg-5 col-xl-4 bg-primary text-md-right text-center px-0 hero-contact-slither">
      <a href="{{ include.url | absolute_url }}" class="row m-0 px-5 py-1">
        <span class="w-100 text-light font-weight-normal pb-1 {% if include.type %}{% if include.type == 'full' %}lead m-0{% endif %}{% endif %}">
          {{ include.link }}   <i class="fas fa-angle-right"></i><i class="fas fa-angle-right"></i><i class="fas fa-angle-right"></i>
        </span>
      </a>
    </div>
  {% endif %}
</div>

<noscript>
  <div
  class="jumbotron jumbotron-fluid jumbotron-home container-fluid d-flex flex-column justify-content-end rounded-0 m-0 text-light pt-5
  {% if include.class %} {{ include.class }}{% endif %}"
  style="background: {% if include.bg_image %}url('{{ site.img_dir | absolute_url }}{{ include.bg_image }}') no-repeat {{ include.bg_position }} / {{ include.bg_size }}{% endif %};">
  <div class="row d-flex flex-column jumbotron--content-box pt-5 pb-0 py-md-5
    {% if include.text_position %}
      {% if include.text_position == 'center' %} mx-auto
      {% elsif include.text_position == 'left' %} mr-auto ml-0 col-sm-12 col-md-6 col-lg-5 col-xl-4
      {% endif %}
    {% endif %}
    {% unless include.type == 'full' %} px-4{% endunless %}
    text-md-left text-center">
    {% include noscript-image.html name="adept-icon.svg" class="img-fluid w-10 mx-auto mr-md-0 ml-md-auto" alt="Adept Arrow" %}
    <h1 class="font-weight-normal pb-4 pb-md-0 m-0">{{ include.heading }}<br>
      <span class="text-primary font-weight-normal">{{ include.lead }}</span>
    </h1>

  </div>
  {% if include.link %}
    <div class="col-sm-12 col-md-6 col-lg-5 col-xl-4 bg-primary text-md-right text-center px-0 hero-contact-slither">
      <a href="{{ include.url | absolute_url }}" class="row m-0 px-5 py-1">
        <span class="w-100 text-light font-weight-normal pb-1 {% if include.type %}{% if include.type == 'full' %}lead m-0{% endif %}{% endif %}">
          {{ include.link }}   <i class="fas fa-angle-right"></i><i class="fas fa-angle-right"></i><i class="fas fa-angle-right"></i>
        </span>
      </a>
    </div>
  {% endif %}
</div>
</noscript>
