<!-- Google Tag Manager -->
<script>
  (function (w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({
      'gtm.start': new Date().getTime(),
      event: 'gtm.js'
    });
    var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s),
      dl = l != 'dataLayer' ? '&l=' + l : '';
    j.async = true;
    j.src =
      'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
    f.parentNode.insertBefore(j, f);
  })(window, document, 'script', 'dataLayer', 'GTM-59DTFCC');
</script>
<!-- End Google Tag Manager -->


<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
<!-- Async Google font load -->
<script>
  WebFont.load({
    google: {
      families: ['Roboto:300,400,700']
    }
  });
</script>

<noscript>
  <link
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,700"
    rel="stylesheet"
  >
</noscript>

<script src="{{ '/assets/scripts/jquery-3.3.1.min.js' | absolute_url }}"></script>
<script defer src="{{ '/assets/scripts/js.cookie.js' | absolute_url }}"></script>
<script defer src="{{ '/assets/scripts/popper.min.js' | absolute_url }}"></script>
<script defer src="{{ '/assets/scripts/bootstrap.min.js' | absolute_url }}"></script>

<script src="{{ '/assets/scripts/ofi.min.js' | absolute_url }}"></script>
<script src="{{ '/assets/scripts/css3-animate-it.js' | absolute_url }}"></script>
<script defer src="{{ '/assets/scripts/main.js' | absolute_url }}"></script>

<script>
  document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
</script>
