---
layout: default
---

{% capture current_page %}{{ page.title }}{% endcapture %}

{% for item in site.data.fulfilment %}
  {% capture item_title %}{{ item.title }}{% endcapture %}
  {% if item_title == current_page %}
    {% capture page_image %}{{ item.image }}{% endcapture %}
  {% endif %}
{% endfor %}

{% include hero.html
  bg_image=page_image
  bg_position="center"
  bg_size="cover"
  type="full"
%}

<div class="container py-5">
  {{ content }}
  <a href="{{ '/contact' | absolute_url }}" class="btn btn-primary">Contact Us</a>
</div>

{% include services-columns.html %}
